.game-screen {
  border: 3px solid black;
  margin-top: 10px;
  height: 50%;
  width: 50%;
}

.form {
  margin-top: 20px;
}

.form > input, select {
  padding: 5px;
  margin: 5px;
}

#play-button {
  padding: 15px;
  margin: 10px;
  background-color: red;
  color: white;
  border-radius: 5px;
  letter-spacing: 3px;
  font-weight: 600;
  font-size: 20px;
}


#play-button:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

div {
  background-image: url("https://www.metoffice.gov.uk/binaries/content/gallery/metofficegovuk/hero-images/weather/cloud/cumulus-cloud.jpg");
  height: 100vh;
  width: 100vw;
}

h3 {
  font-size: 50px;
  padding-top: 30px;
  padding-right: 45px;
  float: right;
} 

#timer {
  float: left;
  margin-left: 30px;
}

#clickAnywhere {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: burlywood;
  padding-left: 40px;
  padding-bottom: 15px;
  font-weight: bold;
  color: red;
}

#instructions {
  text-align: center;
  font-size: 50px;
  padding-top: 30px;
  font-weight: bold;
  position: absolute;
  margin-left: 30%;
}

p {
  width: 50%;
  margin: 0 auto;
  padding-top: 15px;
  text-indent: 25px;
}


#balloon-gif, #game-over-gif {
  height: 60vh;
  width: 40vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
