.game-screenshot {
  border: 3px solid black;
  margin-top: 10px;
  height: 60%;
  width: 60%;
}

.form {
  margin-top: 20px;
}

.form > input, select {
  padding: 5px;
}

#play-button {
  padding: 15px;
  margin: 10px;
  background-color: red;
  color: white;
  border-radius: 5px;
  letter-spacing: 3px;
  font-weight: 600;
  font-size: 20px;
}

#play-button:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

h3 {
  font-size: 50px;
  padding-top: 30px;
  padding-right: 45px;
  float: right;
} 

p {
  width: 50%;
  margin: 0 auto;
  padding-top: 15px;
  text-indent: 25px;
}

